@{
    ViewBag.Title = "Home Page";
}

<h1>Whois.NET</h1>

<div class="jumbotron" style="margin-top: 30px;" ng-controller="mainController as mainCtrl">
    <h4>Digite o domínio que deseja buscar</h4>

    <div class="row">
        <div class="col-md-12">
            <div class="form-inline">
                <input ng-model="mainCtrl.urlBusca" ng-required="" class="form-control" type="text" />
                <button ng-click="mainCtrl.buscar()" ng-disabled="!mainCtrl.urlBusca" class="btn btn-primary">
                    Buscar
                </button>
            </div>

            <div class="margin"></div>

            <div ng-show="mainCtrl.viewModel">
                <p class="cache" ng-show="mainCtrl.viewModel.Cacheado">
                    Registro do cache interno
                    <span class="fa fa-refresh" title="Buscar ignorando o cache interno"></span>
                </p>
                <div class="result-area">
                    <div>
                        Domínio: {{mainCtrl.viewModel.Dado.NomeDominio}}
                    </div>
                    <div>
                        Data Criação: {{ mainCtrl.viewModel.Dado.DataCriacao | date: 'dd/MM/yyyy' }}
                    </div>
                    <div>
                        Data Expiração: {{ mainCtrl.viewModel.Dado.DataExpiracao  | date: 'dd/MM/yyyy' }}
                    </div>
                    <div>
                        Última Atualização: {{ mainCtrl.viewModel.Dado.DataAtualizacao  | date: 'dd/MM/yyyy' }}
                    </div>

                    <strong>Emails:</strong>
                    <ul class="list-group">
                        <li class="list-group-item" ng-repeat="email in mainCtrl.viewModel.Dado.Emails">
                            {{email}}
                        </li>
                    </ul>

                    <strong>NameServers:</strong>
                    <ul class="list-group">
                        <li class="list-group-item" ng-repeat="server in mainCtrl.viewModel.Dado.NameServers">
                            {{ server | lowercase }}
                        </li>
                    </ul>

                    <strong>Contatos:</strong>
                    <ul class="list-group">
                        <li class="list-group-item" ng-repeat="contato in mainCtrl.viewModel.Dado.Contatos">
                            <div>
                                <b>Nome: </b>{{ contato.Nome }}
                            </div>
                            <div>
                                <b>Tipo: </b>{{ contato.Tipo }}
                            </div>

                            <div>
                                <b>Organização: </b>{{ contato.Organizacao }}
                            </div>

                            <div>
                                <b>Fone:</b> {{ contato.Fone }}
                            </div>

                            <div>
                                <b>Email:</b> {{ contato.Email }}
                            </div>
                        </li>
                    </ul>

                </div>
            </div>
        </div>
    </div>
</div>
