<?xml version="1.0"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings>
    <add key="MongoUrl" value="mongodb://admin:hayodmin@cluster0-shard-00-00-3qspj.mongodb.net:27017,cluster0-shard-00-01-3qspj.mongodb.net:27017,cluster0-shard-00-02-3qspj.mongodb.net:27017/?ssl=true&amp;replicaSet=Cluster0-shard-0&amp;authSource=admin"
         xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    
    <add key="MongoDb" value="db"
         xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    
    <add key="MongoCollection" value="dominios" 
         xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    
  </appSettings>
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <!--
      In the example below, the "Replace" transform will replace the entire
      <customErrors> section of your Web.config file.
      Note that because there is only one customErrors section under the
      <system.web> node, there is no need to use the "xdt:Locator" attribute.

      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
  </system.web>
</configuration>
